<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="dataAccess.entity"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/teashop?useSSL=false&amp;\autoReconnect=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
<!--        <package name="dataAccess.mapper"/>-->
        <mapper resource="dataAccess/mapper/EmployeMapper.xml"/>
        <mapper resource="dataAccess/mapper/MemberMapper.xml"/>
        <mapper resource="dataAccess/mapper/TbCategoryMapper.xml"/>
        <mapper resource="dataAccess/mapper/TbDealMapper.xml"/>
        <mapper resource="dataAccess/mapper/TbDetailMapper.xml"/>
        <mapper resource="dataAccess/mapper/TbDrinkMapper.xml"/>
    </mappers>


</configuration>